version: "3.8"

services:
  app:
    container_name: qick-app
    build:
      context: .
    image: qick-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: qick-mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: qick
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
